*{
    box-sizing: border-box;
    background-color: #130b0b;
    text-align: center;
    align-items: center;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #e9d9d9;
    text-shadow: 0px 0px 10px #e9d9d9;
    size: 1.2rem;
}